<ion-header>
  <ion-navbar>
    <ion-title>
      Recipes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  ₍₍ ◝(•̀ㅂ•́)◟ ⁾⁾ gimme some recipes
  
  <ion-list *ngFor="let recipe of recipes">
    
    <ion-item>
      <ion-thumbnail item-left>
        <img src={{recipe.imageURL}}>
      </ion-thumbnail>
      <div>
        <h2>{{recipe.name}}</h2>
        <p>{{recipe.selected}}</p>
      </div>
      <div>
        <button ion-button icon-only clear item-right>
        <ion-icon name="star-outline"></ion-icon>
        </button>
      </div>
    </ion-item>
    
    
  </ion-list>

</ion-content>

<ion-pullup (onExpand)="footerExpanded()" (onCollapse)="footerCollapsed()" (onCollapse)="generateRecipes()" [(state)]="footerState" padding>
    <ion-pullup-tab color="primary" [footer]="pullup" (tap)="toggleFooter()">
      <ion-icon name="search" *ngIf="footerState == 0"></ion-icon><ion-icon name="search" *ngIf="footerState == 1"></ion-icon>
    </ion-pullup-tab>
    <ion-toolbar color="primary" (tap)="toggleFooter()">
      <ion-title *ngIf="footerState == 0"></ion-title><ion-title *ngIf="footerState == 1 && !anySelected">Select Ingredients</ion-title>
      <ion-title *ngIf="anySelected">{{selected.length}} items selected</ion-title>
      <div *ngIf="anySelected">yes</div>
    </ion-toolbar>

    <ion-content>
      <ion-searchbar animated='true' [(ngModel)]="searchQuery" [showCancelButton]="shouldShowCancel" (ionInput)="checkIfEmpty()" (keyup.enter)="setFilteredItems()" (ionCancel)="onCancel($event)">>
      </ion-searchbar>
      <ion-buttons right>
        <button ion-button (click)="unselectAll()" [disabled]="!anySelected">UNSELECT ALL</button>
      </ion-buttons>
      <ion-grid>
        
        <div *ngFor="let food of copyFoodthings; let i = index">
          <ion-row *ngIf="i%3 == 0"> 
            <ion-col col-4 (tap)="multicheckTap(food)">
              <ion-card>
                <ion-item no-lines>{{food.name}}<ion-thumbnail><div><img class="full-image" src={{food.imageURL}}></div></ion-thumbnail></ion-item>
                <ion-icon item-right name='checkmark-circle' *ngIf=food.recipeSelected></ion-icon>
              </ion-card>
            </ion-col>
            <ion-col col-4 *ngIf="(i+1) < copyFoodthings.length" (tap)="multicheckTap(copyFoodthings[i+1])">
              <ion-card>
                <ion-item no-lines>{{copyFoodthings[i+1].name}}<ion-thumbnail><div><img class="full-image" src={{copyFoodthings[i+1].imageURL}}></div></ion-thumbnail></ion-item>
                <ion-icon item-right name='checkmark-circle' *ngIf=copyFoodthings[i+1].recipeSelected></ion-icon>
              </ion-card>
            </ion-col>
            <ion-col col-4 *ngIf="(i+2) < copyFoodthings.length" (tap)="multicheckTap(copyFoodthings[i+2])">
              <ion-card>
                <ion-item no-lines>{{copyFoodthings[i+2].name}}<ion-thumbnail><div><img class="full-image" src={{copyFoodthings[i+2].imageURL}}></div></ion-thumbnail></ion-item>
                <ion-icon item-right name='checkmark-circle' *ngIf=copyFoodthings[i+2].recipeSelected></ion-icon>
              </ion-card>
            </ion-col>           
          </ion-row>
        </div>
      </ion-grid>
    </ion-content>
</ion-pullup>