
<ion-header>

  <ion-navbar>
    <ion-title>{{food.name}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<ion-grid>
  <ion-row>
    <ion-col col-6>
      <img src={{food.image}}></ion-col>
    <ion-col col-6>
      <ion-row>
        <b>Aisle: &nbsp;</b>{{food.aisle}}
      </ion-row>
      <ion-row>
        <b>Serving Size: &nbsp;</b>{{food.amount}} {{food.unit}}
      </ion-row>
    </ion-col>
  </ion-row>
  <h5>Caloric Breakdown</h5>
  <div *ngIf="caloricBreakdown">
    <ion-row>&nbsp; &nbsp;<b>Percent Protein: &nbsp;</b>{{caloricBreakdown.percentProtein}}%</ion-row>
    <ion-row>&nbsp; &nbsp;<b>Percent Fat: &nbsp;</b>{{caloricBreakdown.percentFat}}%</ion-row>
    <ion-row>&nbsp; &nbsp;<b>Percent Carbs: &nbsp;</b>{{caloricBreakdown.percentCarbs}}%</ion-row>
  </div>
  <h5>Nutrition Details:</h5>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h6>Nutrient</h6>
      </ion-col>
      <ion-col>
        <h6>Amount</h6>
      </ion-col>
      <ion-col>
        <h6>% DV</h6>
      </ion-col>
    </ion-row>
      <ion-row *ngFor="let detail of nutrients; let i = index">
        <ion-col>
          <b> {{detail.title}}</b>  
        </ion-col>
        <ion-col>
          {{detail.amount}} {{detail.unit}}
        </ion-col>
        <ion-col>
          {{detail.percentOfDailyNeeds}}%
        </ion-col>
      </ion-row>
  </ion-grid>
  
 
  
</ion-grid>
</ion-content>
