<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<ion-list>

	  <ion-item>
	    <ion-label floating>Username</ion-label>
	    <ion-input type="text" (focus)='clearMessage()' (value)='username' [(ngModel)]='username'></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Password</ion-label>
	    <ion-input type="password" (focus)='clearMessage()' (value)='password' [(ngModel)]='password'></ion-input>
	  </ion-item>

	</ion-list>

	<ion-label class='err-msg' *ngIf='!fieldsFilled'>Please fill out all fields</ion-label>
	<ion-label class='err-msg' *ngIf='!correctInfo'>Incorrect username/password</ion-label>
	<ion-label class='err-msg' *ngIf='!validUser'>User already exists</ion-label>

	<button ion-button (click)="sendLogin()">Login</button>
	<button ion-button (click)="sendRegister()">Register</button>

</ion-content>
