
<ion-header>

  <ion-navbar>
    <ion-title text-wrap>{{details.title}}</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
<!--.+:｡(ﾉ･ω･)ﾉﾞ RECIPE!!!!!!-->
<ion-grid>
  <ion-row>
    <ion-col col-6>
      <img src={{details.image}}></ion-col>
    <ion-col col-6>
      <ion-row>
        <ion-row><b>Ready in: &nbsp; </b>  {{details.readyInMinutes}} Minutes</ion-row>
        <ion-row> <b>Servings: &nbsp; </b>  {{details.servings}}</ion-row>
        <br><br>
        <ion-row>Source: &nbsp; &nbsp;<a href={{details.sourceUrl}}>{{details.sourceName}}</a></ion-row>
      </ion-row>
    </ion-col>
  </ion-row>
  
  <h4>Ingredients</h4>
   <ion-grid>
            <div *ngFor="let food of ingredients; let i = index">
              <ion-row *ngIf="i%3 == 0">
                
                <ion-col col-4>
                  <ion-card>
                    <ion-item no-lines><div class="card-description" text-wrap>{{food.name}}
                    <br>
                    {{food.amount}} {{food.unitShort}}</div>
                    
                    <img class="full-image" src={{food.image}}></ion-item>
                  </ion-card>
                </ion-col>
                
                <ion-col col-4 *ngIf="(i+1) < ingredients.length">
                  <ion-card>
                    <ion-item no-lines><div class="card-description" text-wrap>{{ingredients[i+1].name}}
                    <br>
                    {{ingredients[i+1].amount}} {{ingredients[i+1].unitShort}}</div>
                    
                    <img class="full-image" src={{ingredients[i+1].image}}></ion-item>
                  </ion-card>
                </ion-col>
                
                <ion-col col-4 *ngIf="(i+2) < ingredients.length" >
                  <ion-card>
                    <ion-item no-lines><div class="card-description" text-wrap>{{ingredients[i+2].name}}
                    <br>
                    {{ingredients[i+2].amount}} {{ingredients[i+2].unitShort}}</div>
                    
                    <img class="full-image" src={{ingredients[i+2].image}}></ion-item>
                  </ion-card>
                </ion-col>

                
              </ion-row>
            </div>
      </ion-grid>
   <!--
  <ion-row>
    
    <ion-col col-4>
      <ion-card>
        <ion-item no-lines><div class="card-description">Mangoes</div>
            <img class="full-image" src="https://spoonacular.com/cdn/ingredients_100x100/mango.jpg"></ion-item>
        <ion-icon item-right name='checkmark-circle' color="secondary"></ion-icon>
      </ion-card>
    </ion-col>
    
    <ion-col col-4>
      <ion-card>
        <ion-item no-lines><div class="card-description">Strawberries</div>
            <img class="full-image" src="https://spoonacular.com/cdn/ingredients_100x100/strawberries.png"></ion-item>
        <ion-icon item-right name='checkmark-circle' color="secondary"></ion-icon>
      </ion-card>
    </ion-col>
    
    <ion-col col-4>
      <ion-card>
        <ion-item no-lines><div class="card-description">Vanilla Bean Yogurt</div>
            <img class="full-image" src="https://spoonacular.com/cdn/ingredients_100x100/instant-vanilla-pudding.jpg"></ion-item>
        <ion-icon item-right></ion-icon>
      </ion-card>
    </ion-col>
    
  </ion-row>
   -->
  
  
  <h4>Instructions</h4>
   <ion-list *ngFor="let step of instructions; let i = index">
    <b>{{i+1}}.</b>  {{step.step}}
   </ion-list>
   <div ng-show="!instructions.length">Instructions unavailable for in-app display.  Please go to <a href={{details.sourceUrl}}>{{details.sourceName}}</a> to view the recipe.</div>
  <br><br>
</ion-grid>
<button ion-button full>Update Pantry</button>
</ion-content>
